@font-face {
	font-family: riffic;
	src: url(../fonts/RifficFree-bold.ttf) format("truetype");
}

#quizTitle {
	font-family: batmanbeat;
	color: #495dee;
	font-weight: bold;
	font-size: 50px;
}

body {
	background-image: url(../images/party_background.png);
	font-family: riffic;
}

#quizBody {
	background-color: #84caa0;
}

form {
	text-align: center;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
	font-size: 25px;
	margin: 15px;
	color: black;
}

#questionImage {
	max-width: 250px;
}